#logo{
    font-size: xx-large;
}

a:hover{
    background-color: white;
    color: #343a40!important;
}
a{
    border-radius: 3px;
}

#aaa{
    height: 8vh;
    background-color: white;
}
#suli{
    display: flex;
}

#light-header{
    font-weight: bold;
}

.dropdown-menu li {
position: relative;
}
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

.dropdown-hover:hover>.dropdown-menu {
display: inline-block;
}

.dropdown-hover>.dropdown-toggle:active {
pointer-events: none;
}